name: Development

on:
  push:
    branches: [ Development ]
  pull_request:
    branches: [ Development ]
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Create mongo Docker container
      id: build_mongo_docker
      uses: DigiPie/mongo-action@v1.0.1
      with:
        image-version: latest
        port: 27017
    - uses: actions/checkout@v2
    - name: Set up JDK 16
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: '16'
    - name: Cache Maven repository
      uses: actions/cache@v2
      with:
        path: .m2/repository # maven repository files are stored here
        key: ${{ runner.OS }}-maven-${{ hashFiles('pom.xml') }}
    - name: override Mongo connection url
      uses: myci-actions/export-env-var@1
      with:
        name: QUARKUS_MONGODB_PROJECTS_CONNECTION-STRING
        value: "mongodb://localhost:27017"
    - name: Build with Maven
      run: mvn -B package --file pom.xml
